body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin: 0 10px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.main-content {
    flex: 3;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
